{
  "presets": ["react", ["env", { "modules": false }]],
  "plugins": [
    "syntax-async-functions",
    "transform-class-properties",
    "babel-plugin-transform-object-rest-spread",
    "react-hot-loader/babel"
  ],
  "env": {
    "test": {
      "presets": ["react", ["env", { "modules": "commonjs" }]],
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
