$unit: 8px;

.container {
    margin: auto;
    text-align: center;
    padding: 0 $unit * 10;

    &__image {
        width: 100px;
        height: auto;
    }
}

.left {
    text-align: left;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: $unit;
    padding: $unit 0;
}

.card {
    border: 1px solid grey;
    padding: $unit;

    &__weather {
        max-width: 400px;
        grid-column-start: 3;
        grid-column-end: 4;
    }

    &__quote {
        grid-column-start: 2;
        grid-column-end: 5;
    }

    * {
        color: darkslategrey;
    }
}